@import url("reset.css");
@import url("fonts.css");

html {
    scroll-behavior: smooth;
}

[class*="__container"] {
    margin: 0 auto;
    max-width: 1350px;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.wrapper > main {
    flex-grow: 1;
}
.featured-products {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.featured-products__body {
    display: grid;
    gap: 24px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.block-title {
    text-align: center;
    margin-bottom: 36px;
}
.featured-products__subtitle {
    font-weight: 500;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    color: #00B207;
}
.title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 600;
    color: #1A1A1A;
    text-transform: capitalize;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.featured-top-banner {
    position: relative;
    object-fit: cover;
    display: flex;
    justify-content: center;
}
.featured-top-banner__content {
    position: absolute;
    z-index: 5;
    text-align: center;
    padding: 24px 0px;
}
.banner-title {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}
.banner-discount {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1.2;
}
.featured-top-banner__discount {
    color: #00B207;
}
.featured-btn {
    font-weight: 600;
    line-height: 1.2;
    color: #00B207;
    background-color: #fff;
    padding: 14px 32px;
    border-radius: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    white-space: nowrap;
    width: 162px;
}
.featured-btn svg path {
    transition: stroke 0.3s ease-in-out;
}
.featured-btn svg {
    will-change: transform;
    transition: transform 0.6s ease-in-out;
}
.featured-top-banner__img {
    background-color: #c5c5c5;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 248/341;
}
.featured-top-banner__img img {
    width: 100%;
    aspect-ratio: 248/341;
}

@media (any-hover: hover) and (pointer: fine) {
    .featured-btn:hover {
        background-color: #00B207;
        color: #fff;   
    }
    .featured-btn:hover svg path {
        stroke: white;
    }
    .featured-btn:hover svg {
        transform: translateX(4px);           
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.featured-top__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
    gap: 20px;
}
.goods-card {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    border: 1px solid #E6E6E6;
    position: relative;
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.goods-card__img {
     width: 100%;
     object-fit: cover;
     aspect-ratio: 246/246;
}
.goods-card__img img {
    aspect-ratio: 246/246;
    width: 100%;
}
.goods-card__icons {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 15px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    transition: opacity 0.3s ease-in-out,visibility 0.3s ease-in-out;
}
.shopping-bag-icon svg path,
.eye-icon svg path,
.heart-icon svg path {
    transition: stroke 0.3s ease-in-out;
}
.shopping-bag-icon,
.eye-icon,
.heart-icon {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}
.goods-card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 12px 16px 16px 16px;
}
.goods-card__title {
    transition: color 0.3s ease-in-out;
}
.goods-title {
    line-height: 1.5;
    color: #4D4D4D;
}
.goods-card__rating-stars {
    display: flex;
}
.price-block {
    display: flex;
    gap: 2px;
}
.price-block__price-tag {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
.price-block__price-tag--current {
    color: #1A1A1A;
}
.price-block__price-tag--old {
    color: #999;
}

@media (any-hover: hover) and (pointer: fine) {
    .goods-card:hover {
        border: 1px solid #2C742F;
        box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    }
    .goods-card:hover .goods-card__shopping-bag-icon svg path {
        stroke: white;
    }
    .goods-card:hover .goods-card__shopping-bag-icon {
        background-color: #00B207;
    }
    .goods-card:hover .goods-card__icons {
        opacity: 1;
        visibility: visible;   
    }
    .heart-icon:hover,
    .eye-icon:hover,
    .shopping-bag-icon:hover {
            background-color: #00B207;
    }  
    .heart-icon:hover svg path,
    .eye-icon:hover svg path,
    .shopping-bag-icon:hover svg path {
        stroke: white;         
    }
    .goods-card:hover .goods-card__title {
        color: #2C742F;                                                                   
    }
}
@media (any-hover: none) and (pointer: coarse) {
    .goods-card__icons {
        opacity: 1;
        visibility: visible;
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.featured-bottom__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
}
.category__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #1A1A1A;
    margin-bottom: 16px;
}
.showcase-category__goods-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.goods-item {
    display: flex;
    gap: 12px;
    border: 1px solid #E6E6E6;
    min-height: 118px;
    transition: border 0.3s ease-in-out, 
                box-shadow 0.3s ease-in-out;
}
.goods-item__title {
    transition: color 0.3s ease-in-out;
}
.goods-item__icons {
    display: flex;
    gap: 12px;
}
.goods-item__content {
    padding: 24px 0px;
}
.goods-item__img {
    padding: 5px;
    width: 100%;
    object-fit: cover;
    flex: 0 0 112px;
}
.goods-item__img img {
    width: 100%;
    aspect-ratio: 102/102;
}
.goods-item__price {
    margin-bottom: 6px;
}
.goods-item__rating-stars {
    display: flex;
}
.goods-item__rating-stars svg {
    width: 16px;
    height: 16px;
}
.goods-item__icons {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
}

@media (any-hover: hover) and (pointer: fine) {
    .goods-item:hover {
        border: 1px solid #2C742F;
        box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    }
    .goods-item:hover .goods-item__title {
        color: #2C742F;
    }
    .goods-item:hover .goods-item__price,
    .goods-item:hover .goods-item__rating-stars {
        opacity: 0;
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .goods-item:hover .goods-item__icons {
        height: 100%;
        width: 100%;
        opacity: 1;
        visibility: visible;
        transition: height 0.3s ease-in-out,
                    width 0.3s ease-in-out,
                    opacity 0.3s ease-in-out,
                    visibility 0.3s ease-in-out;   
    }
}
@media (any-hover: none) and (pointer: coarse) {
    .goods-item__icons {
        opacity: 1;
        visibility: visible;
        height: 100%;
        width: 100%;
    }
    .goods-item__rating-stars {
        opacity: 0;
        visibility: hidden;
        height: 0;
        width: 0;
    }
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.featured-bottom-banner {
    position: relative;
    object-fit: cover;
    display: flex;
    justify-content: center;
}
.featured-bottom-banner__content {
    position: absolute;
    z-index: 5;
    text-align: center;
    padding: 32px 43px;
    display: flex;
    flex-direction: column;
}
.featured-bottom-banner__btn {
    align-self: center;
}
.featured-bottom-banner__img {
    background-color: #c5c5c5;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 312/430;
}
.featured-bottom-banner__img img {
    width: 100%;
    aspect-ratio: 312/430;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


.floral {
    font-family: "KoPub Batang", serif;
    background-color: #F8F3EC;
}
.floral__container {
    max-width: 1230px;
}
.floral__body {
    display: grid;
    grid-template-columns: clamp(280px, 33%, 400px) 1fr;
    align-items: start;
    gap: 31px;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media (max-width: 1038px) {
    .floral__body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "right"
            "left";
    }
    .floral__right {
        grid-area: right;
        padding-top: 0;
    }
    /* ПРИ ТАКІЙ ШИРИНІ Я ХОЧУ ЩОБ БУЛИ 2 КАРТОЧКИ В РЯД ,
    В МЕНЕ ТАК НЕ ВИХОДИТЬ ЗРОБИТИ, ПРОШУ ПОЯСНИТИ  */
    .floral__left {
        grid-area: left;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 550px) {
    /* ПРИ ТАКІЙ ШИРИНІ Я ХОЧУ ЩОБ БУЛА ОДНА КАРТОЧКА В РЯД,
    В МЕНЕ ТАК НЕ ВИХОДИТЬ ЗРОБИТИ, ПРОШУ ПОЯСНИТИ  */
    .floral__right {
        grid-template-columns: repeat(1, 1fr);
    }
}
.floral-title {
    grid-column: span 2;
    margin-bottom: 78px;
    font-size: 60px;
    font-weight: 300;
    line-height: 1.1;
}
.floral__left {
    order: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 16px;
}
.floral__right {
    order: 2;
    padding-top: 52px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 37px;
    column-gap: 29px;
}
.card-floral {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-floral__img-link {
    overflow: hidden;
    aspect-ratio: 401/427;
    background-color: #707070;
}
.card-floral__img {
    width: 100%;
}
.card-floral__img img {
    will-change: transform;
    width: 100%;
    aspect-ratio: 401/427;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.card-floral__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card-floral__description {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.card-floral__title {
    font-size: 20px;
    color: #2C2C2C;
    position: relative;
}
.card-floral__title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2C2C2C;
    height: 1px;
    width: 0;
    transition: width 0.25s ease-in-out;
}
.card-floral__price {
    font-family: "Carme", sans-serif;
    color: #4E4E4E;
    font-size: 18px;
}
.card-floral__icons {
    display: flex;
    gap: 20px;
}
.card-floral__heart-icon,
.card-floral__cart-icon {
    transition: background-color 0.3s ease-in-out;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
}
.floral-btn {
    position: relative;
    font-size: 17px;
    line-height: 1.37;
    color: #2C2C2C;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 41px;
    padding: 9px 30px;
    background-color: #DBCCBA;
    z-index: 1;
    cursor: pointer;
    width: fit-content;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.floral-btn::before {
    content: "";
    position: absolute;
    top: -9px;
    bottom: -9px;
    left: -9px;
    right: -9px;
    background-color: transparent;
    border: 1px solid #DBCCBA;
    z-index: -1;
    transition: background-color 0.5s ease;
}
.floral-btn img {
    width: 23px;
    height: 14px;
    flex-shrink: 0;
}
@media (any-hover: hover) and (pointer: fine) {
    .card-floral__img-link:hover .card-floral__img img {
        transform: scale(1.05);   
    }
    .card-floral__heart-icon:hover {
        background-color: #dac5ac;
    }
    .card-floral__cart-icon:hover {
        background-color: #dac5ac;   
    }
    .card-floral__title:hover::before {
        width: 100%;   
    }
    .floral-btn:hover::before {
        background-color: #DBCCBA;   
    }
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

