@import url("reset.css");
@import url("fonts.css");

html {
    scroll-behavior: smooth;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
}

[class*="__container"] {
    max-width: 1430px;
    padding: 15px;
    margin: 0 auto;
}

body {
    background-color: #0f172a;
    font-family: "Poppins", sans-serif;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */


.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-bottom: 100px;
}

.header__container {
    max-width: 1000px;
}

.header__link-logo {
    font-size: 35px;
    margin-right: 170px;
    vertical-align: middle;
}

.header__link-logo:hover {
    color: #aa51fe;
}

.header__body {
    color: white;
    background-color: #192131;
    border-radius: 20px;
    padding: 20px;
}

.header__menu {
    display: inline-block;
}

.header__item {
    display: inline-block;
    position: relative;
    padding: 15px;
}

.header__item:hover .sub-menu{
    opacity: 1;
    visibility: visible;
}

.header__item:hover {
    background-color: #6b24ae;
}

.header__item:not(:last-child) {
    margin-right: 30px;
}

.header__link {
    font-size: 18px;
}

.sub-menu {
    position: absolute;
	left: 0;
	top: 100%;
	opacity: 0;
	visibility: hidden;
    width: 100%;
}

.sub-menu__item {
    background-color: #6b24ae;
    padding: 15px;
}

.sub-menu__item:hover {
    background-color: #9333ea;
}

.sub-menu__link {
    font-size: 19px;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------  */


.solutions {
    background-color: #5A54F2;
}

.solutions__body {
    position: relative;
    z-index: 0;
}

.solutions__item {
    color: white;
    font-size: 0;
}

.solutions__item:nth-child(even) {
    text-align: right;
    padding-right: 50px;
}

.solutions__item:nth-child(odd) {
    padding-left: 50px;
}

.solutions__item:nth-child(odd)::before {
    content: "";
    position: absolute;
    z-index: -10;
    top: 34%;
    left: -5%;
    background: url("../img/solutions-decor-left.svg") no-repeat;
    width: 100%;
    height: 100%;
}

.solutions__item:nth-child(even)::after {
    content: "";
    position: absolute;
    z-index: -10;
    top: 48%;
    left: 72%;
    background: url("../img/solutions-decor-right.svg") no-repeat;
    width: 100%;
    height: 100%;
}

.solutions__img-block {
    max-width: 430px;
    display: inline-block;
} 

.solutions__img-block img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.solutions__img-block:nth-child(odd) {
    margin-right: 70px;
    box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.40);
}

.solutions__img-block:nth-child(even) {
    box-shadow: 22px 42px 44px 0px rgba(0, 0, 0, 0.30);
}

.solutions__content {
    display: inline-block;
    text-align: left !important;
}

.solutions__item:nth-child(even) > .solutions__content {
    margin-right: 70px;
}

.solutions__item:first-child {
    position: relative;
    top: -63px;
}

.solutions__item:nth-child(odd) > .solutions__content {
    max-width: 602px;
    vertical-align: middle;
}

.solutions__item:nth-child(even) > .solutions__content {
    max-width: 506px;
    vertical-align: top;
}

.solutions__item:not(:last-child) {
    margin-bottom: 60px;
}

.solutions__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 13px;
    line-height: 1.3;
    font-family: "CircularStd", sans-serif;
}

.solutions__description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 39px;
    font-family: "Roboto", sans-serif;
}

.solutions__button {
    background-color: #F35B09;
    border-radius: 60px;
    padding: 22px 26px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.solutions__button:hover {
    background-color: #bc4200;
    box-shadow: 0 0 5px #0f172a, 0 0 10px #0f172a, 0 0 15px #0f172a, 0 0 20px #0f172a;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------  */


.featured-products {
    font-family: "Poppins", sans-serif;
    padding: 80px 0;
    background-color: white;
}
.featured-products__container {
    max-width: 1370px;
}

.block-header {
    margin-bottom: 40px;
}

.title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    color: #1A1A1A;
    display: inline-block;
    vertical-align: middle;
}
.block-header__link {
    color: #00B207;
    line-height: 1.5;
    font-weight: 500;
    float: right;
}

.block-header__link:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.block-header__link::after {
    content: "";
    background: url("../img/green-arrow.svg");
    width: 15px;
    height: 12px;
    background-size: cover;
    margin-left: 5px;
}

.featured-products__items {
    margin-bottom: 26px;
}

.featured-item {
    width: 312px;
    min-height: 407px;
    border: 1px solid #E6E6E6;
    padding: 16px;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    font-size: 0;
}

.featured-item:hover {
    box-shadow: 0 0 3px #0f172a, 0 0 3px #0f172a, 0 0 3px #0f172a, 0 0 5px #0f172a;
}

.featured-item:not(:last-child) {
    margin-right: 24px;
}

.featured-item__sale-badge {
    position: absolute;
    background-color: #EA4B48;
    padding: 3px 8px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    line-height: 1.5;
}

.featured-item__sale-badge:hover {
    background-color: #b63b39;
}

.featured-item__product-img-block {
    max-width: 320px;
}

.featured-item__product-img-block img {
    width: 100%;
    height: 100%;
    margin-bottom: 21px;
}

.featured-item__name {
    font-size: 14px;
    line-height: 1.5;
    color: #4D4D4D;
    font-weight: 400;
}

.featured-item__name:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.item-price__number {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}
.item-price__number--current {
    color: #1A1A1A;
}

.item-price:has(.item-price__number--old) .item-price__number--current {
    margin-right: 4px;
}


.item-price__number--old {
    color: #999;
    text-decoration: line-through;
}
.featured-item__shopping-bag-icon {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 35px;
    right: 15px;
}

.featured-item__shopping-bag-icon svg {
    width: 20px;
    height: 20px;
}

.featured-item__shopping-bag-icon:hover svg path {
    stroke : white;
}

.featured-item__shopping-bag-icon:hover {
    background-color: #00B207;
}

.featured-item__heart-icon {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    right: 15px;
}

.featured-item__heart-icon svg {
    width: 20px;
    height: 20px;
}

.featured-item__heart-icon:hover svg path {
    stroke : white;
}

.featured-item__heart-icon:hover {
    background-color: #ff0000;
}

.featured-item__eye-icon {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 67px;
    right: 15px;
}

.featured-item__eye-icon svg {
    width: 20px;
    height: 20px;
}

.featured-item__eye-icon:hover svg path {
    stroke : white;
}

.featured-item__eye-icon:hover {
    background-color: #00B207;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------  */


.categories {
    background-color: white;
    font-family: "Poppins", sans-serif;
    padding-bottom: 80px;
}
.categories__container {
    max-width: 1370px;
} 

.categories__items {
    white-space: nowrap;
    overflow: auto;
    scroll-behavior: smooth;
}

.item-categories {
    padding-top: 32px;
    padding-bottom: 24px;
    display: inline-block;
    border: 1px solid #EDEDED;
    border-radius: 6px;
    width: 200px;
    height: 210px;
    text-align: center;
    margin-bottom: 15px;
}

.item-categories:hover {
    box-shadow: inset 0 0 10px 3px #7d7d7d;
}

.item-categories:not(:last-child) {
    margin-right: 24px;
}

.item-categories__img-block {
    min-width: 80px;
    min-height: 80px;
    margin-bottom: 20px;
}
.item-categories__title {
    font-weight: 500;
    line-height: 1.5;
    font-size: 18px;
    color: #1A1A1A;
    margin-bottom: 6px;
}
.item-categories__description {
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------  */


.footer {
    background-color: #192131;
}

.footer__body {
    color: white;
    padding: 20px;
}

.footer__link {
    border-radius: 8px;
	background-color: #9333ea;
    font-size: 20px;
    padding: 10px 20px;
}

.footer__link:hover {
	background-color: #6b24ae;
}
