/* Шрифти, які підключав Євгеній на уроці */
@font-face {
	font-family: "KoPubBatang";
	src: url("../fonts/KoPubBatang-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "KoPubBatang";
	src: url("../fonts/KoPubBatang-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "KoPubBatang";
	src: url("../fonts/KoPubBatang-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Підключаю шрифт, якого не було в googlefonts.
Відповідно знайшов зі стороннього джерела і переформатував з ttf в woff2. */
@font-face {
	font-family: "CocogooseClassic";
	src: url("../fonts/CocogooseClassicTrial-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "CocogooseClassic";
    src: url("../fonts/CocogooseClassicTrial-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
