/* Вмію і розумію як підключати обнуляючі стилі і для чого вони потрібні,
але вирішив їх зараз не використовувати,
бо із вбудованими відступами стаття виглядає краще, 
а використовувати відступи самому не можу, бо ще не вчили */
/* @import url("reset.css"); */

@import url("fonts.css");
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=UnifrakturCook:700&display=swap");


body {
    font-family: "CocogooseClassic", sans-serif;
    font-size: 16px;
    /* Вимушино ставлю даний стиль, щоб 
    стаття легше читалась і не випалювала екран */
    background-color: #b9b9b9;
}

.subtitle {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.text {
    font-size: 18px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

/* Свідомо роблю стилі лише для h2, який на першому рівні вкладеності,
по відношенню до div з id="section". Адже інші 
підзаголовки мають меншу семантичну вагу і відповідно стилі вже будуть інші*/
[id*="section"] > h2 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 800;
    color: #7D25F0;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    text-decoration-color: rgb(59, 0, 118);
    word-spacing: 4px;
}

[id*="section"] p {
    font-weight: 500;
    color: #191C2F;
    text-shadow: 1px 1px rgba(255, 107, 132, 0.6), 2px 2px 3px rgba(6, 6, 255, 0.5);
}

[id*="section"] p span {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}

a {
    color: blue;
    text-transform: capitalize;
    line-height: 1.5;
    text-decoration: none;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 10px;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(255, 3, 3);
    text-underline-offset: 5px;
}

.impressions {
    font-family: "Zilla Slab Highlight", sans-serif;
}

.up-to-date {
    font-family: "UnifrakturCook", sans-serif;
}

.hands {
    font-family: "Shojumaru", sans-serif;
}

.gloves {
    font-family: "Press Start 2P", sans-serif;
}
